
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Mitr:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

html body {
    background-color: #f4f4f4;
}

html body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


