
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Mitr:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');


    :root {
    --blue-bubble: #bbe6f3;
    --small-b-bubble: #bae5f2;
    --pink-bubble: #ebc7e5;
    --font-color: #063064;
    }
html body {
    /* margin: 0px; */
    /* background-color: #ebf2fd; */
    background-color: #f4f4f4;
}

/* Side Nav */
.SettingsNav{
  position:absolute;
  z-index: 15;
  left: 48.5%;
  top: 95%;
  transform: translate(-50%,-50%);
  font-family: 'Kanit', sans-serif; 
  font-size: 1.15vw;
  color: #000000;
  padding-left: 2%; 
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Side Nav */

.myRandom-Header{
  color: white; 
  text-align: center;
  font-family: 'Thasadith', sans-serif;

  position: absolute;
  left: 50%;
  top: 8%;
  width: 30%;
  transform: translate(-50%,-50%);
}
/* Random side Nav */
.Randomnav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.753);
  overflow-x: hidden;
  transition: 0.5s;
}

.Randomnav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.Randomnav a:hover {
  color: #f1f1f1;
}

.Randomnav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Random side Nav */

/* Main-random=container */
/* .mainRandom-container{
} */

.RandomShopName{
  color: white; 
  text-align: center;
  font-family: 'Thasadith', sans-serif;
  font-size: 5vw;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translate(-50%,-50%);
}

.RandomShopImg {
  position: absolute;
  left: 50%;
  top: 55%;
  width: 30%;
  transform: translate(-50%,-50%);
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
	
  width: 150px;
	height: 150px;
	border-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50%;
	box-sizing: border-box;
	animation: rotate 3s ease-in-out infinite;

  transform: translate(-50%,-50%) rotate(-235deg);
  transform-origin: center;
}

@keyframes rotate {
	0% { 
		border-width: 50px; 
	}
	25% { 
		border-width: 1px; 
	}
	50% { 
    transform: translate(-50%,-50%) rotate(140deg);
		border-width: 50px;
	}
	75% { 
		border-width: 1px;
	}
	100% { 
		border-width: 50px;
	}
}

img.img-loader {
    z-index: 2;
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}















































/* Food */
.Food1{
  position: absolute;
  width: 9%;
  left: -20%;
  top: 28%;
  transform: translate(-50%,-50%) rotate(120deg);
  filter: drop-shadow(4px -6px 4px #0c0c0c7c);
}


.Food2{
  position: absolute;
  width: 40%;
  left: 20%;
  top: 100%;
  transform: translate(-50%,-50%) rotate(120deg);
  filter: drop-shadow(-8px -6px 4px #0c0c0c7c);
}


.Food3{
  position: absolute;
  width: 20%;
  left: 27%;
  top: -40%;
  transform: translate(-50%,-50%) rotate(150deg);
  filter: drop-shadow(12px 6px 4px #0c0c0c7c);
}

.Food4{
  position: absolute;
  width: 20%;
  left: 120%;
  top: 85%;
  transform: translate(-50%,-50%) rotate(150deg);
  filter: drop-shadow(-9px 11px 4px #0c0c0c46);
}

.Food5{
  position: absolute;
  width: 40%;
  left: 130%;
  top: -25%;
  transform: translate(-50%,-50%) rotate(0deg);
  filter: drop-shadow(12px 6px 4px #0c0c0c7c);
}






/* .ux-container{
  background-color: #00000000;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-50%,-50%);
} */

.container {
    background-color: #f3fcfd;
    /* width: 800px;
    height: 600px; */

    /* width: 100vh; */
    height: 80vh;
    margin: 60px auto;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    -webkit-box-shadow: 1px 2px 29px 2px rgba(220, 244, 250, 1);
    -moz-box-shadow: 1px 2px 29px 2px rgba(220, 244, 250, 1);
    box-shadow: 1px 2px 29px 2px rgba(220, 244, 250, 1);
  }
.main-graph-container{
  z-index: 12; 
  position: absolute; 
  left: 50%;
  top: 45%;
  width: 46%;
  transform: translate(-50%,-50%);
  opacity: 0%;
  display: none;
}


.MainGum{
  position: absolute;
  width: 0%;
  top: 54.2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MainStudent{
  position: absolute;
  width: 65%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainStudent_animated1{
  position: absolute;
  width: 65%;
  top: 55%;
  left: 50.0%;
  transform: translate(-50%, -50%);
}

.MainStudent_animated2{
  position: absolute;
  width: 65%;
  top: 55%;
  left: 50.0%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.MainText{
  position: absolute;
  width: 10%;
  left: 50%;
  top: -50%;
  transform: translate(-50%,-50%) rotate(-90deg);
  /* filter: drop-shadow(4px -6px 4px #0c0c0c7c); */
}

  .bubble {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
  }
  
  .pink-bubble {
    width: 460px;
    height: 460px;
    right: -160px;
    top: -110px;
    background-color: var(--pink-bubble);
  }
  
  .blue-bubble {
    width: 520px;
    height: 520px;
    left: -30px;
    top: 345px;
    background-color: var(--blue-bubble);
  }
  
  .small-b-bubble {
    width: 160px;
    height: 160px;
    right: 20px;
    bottom: -20px;
    background-color: var(--small-b-bubble);
  }
  
  .small-p-bubble {
    width: 105px;
    height: 105px;
    left: -45px;
    top: 140px;
    background-color: var(--pink-bubble);
  }




.myChartFrame{
    display: block;
}


canvas {
    padding: 0;
    margin: auto;
    display: block;
}




















/* Random Box */
.button {
  background-color: #ffffff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1%;
  position: relative;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #9bdaff;
  margin: 15px 2px;
  width: 100%;
  height: max-content;
}


/* checked Box */
label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #ffffff;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #ffffff;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #9c9797;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #a5d3e9;    display: inline;
}

label:hover input[type="checkbox"] ~ i.fa {
color: #ffffff;
}

div[data-toggle="buttons"] label.active{
    color: #ffffff;
}

div[data-toggle="buttons"] label {
  display: inline-block;
  /* left: 50px; */
  /* padding: 6px 12px; */
  padding: 2.2vh;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid #c8c8c8;
  border-radius: 3px;
  color: #c8c8c8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #ffffff;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}






.main-form-container{
  position: absolute;
  left: 53%;
  top: -10%;
  transform: translate(-50%,-50%);
  margin-left: auto; 
  margin-right: auto; 
  z-index: 10;
}
h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
/* //Frame Input */
input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:200px;
  border:none;
  border-bottom:1px solid #757575;
  border-radius: 60px;
}
input:focus 		{ outline:none; }
/* Input Label Text */
#PriceInput{
  font-family: 'Kanit', sans-serif; 
  font-size: 1.15vw;
  color: #2d408a;
  padding-left: 8%; 
}
/* LABEL ======================================= */
.Form-Label 				 {
  color:#999; 
  font-size:20px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:-10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  
}

/* active state */
input:focus ~ .Form-Label, input:valid ~ .Form-Label 		{
  top:-50px;
  left: -10px;
  font-size:17px;
  color:#ffffff;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:200px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:45%;
}
.bar:after {
  right:45%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
  
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:80%; 
  top:20%; 
  left:5%;
  pointer-events:none;
  opacity:0.5;
  border-radius: 60px;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.7s ease;
  -moz-animation:inputHighlighter 0.7s ease;
  animation:inputHighlighter 0.7s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}





@media only screen and (max-width: 768px) {
  .container {
    transform: scale(1);
    width: 100vh;
    height: 85vh;
    /* background-color: chartreuse; */
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100vh;
    margin: 0vh;
    /* background-color: rgb(25, 0, 255); */
  }



  .main-graph-container{
    left: 50%;
    top: 40%;
    width: 100%;
  }




  .MainGum{
    width: 0%;
    top: 45%;
    left: 50%;
  }
  .MainStudent,
  .MainStudent_animated1,
  .MainStudent_animated2{
    width: 125%;
    top: 45.5%;
  }
  
    .bubble {
      position: absolute;
      border-radius: 50%;
      opacity: 0;
    }
    
    .pink-bubble {
      width: 290px;
      height: 280px;
    }

    .small-p-bubble {
      left: -30px;
      top: 70px;
    }
    
    .blue-bubble {
      width: 250px;
      height: 250px;
      left: -90px;
      top: 575px;
    }
    
    .small-b-bubble {
      width: 160px;
      height: 160px;
      right: -60px;
      bottom: -20px;
    }
    
    /* Food */
    .Food1{
      width: 20%;
      left: -20%;
      top: 16%;
    }


    .Food2{
      width: 50%;
      left: 5%;
      top: 86%;
    }


    .Food3{
      width: 37%;
      left: 27%;
      top: -40%;
    }

    .Food4{
      width: 40%;
      top: 90%;
    }

    .Food5{
      width: 60%;
      left: 130%;
      top: -25%;
    }

    .SettingsNav{
      top: 70%; 
      font-size: 2em; 
      color: #000000;
      padding: 0px;
      white-space: pre;
    }

    .RandomShopImg {
      left: 50%;
      top: 55%;
      width: 90%;
    }

    .myRandom-Header{
      top: 17vh;
      margin: -0.6em;
      white-space: pre;
    }

    .RandomShopName{
      font-size: 10vw;
      white-space: pre;
    }

    .Form-Label 				 {
      left:5px;
      margin: auto;
    }
    #PriceInput{
      font-size: 5vw;
      padding: 5px 5px 5px 8%;
    }
}


.Loadercontainer {
  z-index: 10000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #111;
  margin: 0;
  padding: 0;
  top: 0px;
  box-sizing: border-box; 

}

.Loadercontainer .loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.Loadercontainer .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  pointer-events: none;
  animation: animateThreads 5s linear infinite;
}

.Loadercontainer .loader span:nth-child(1) {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

.Loadercontainer .loader span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 67% 33% 70% 30% / 75% 65% 35% 25%;
}

.Loadercontainer .loader span:nth-child(3) {
  animation-duration: 3s;
  border-radius: 52% 48% 70% 30% / 41% 65% 35% 59%;
}

@keyframes animateThreads {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.Loadercontainer .loader h2 {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}


